#root {
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  min-width: 100dvh;
  padding-bottom: 10rem;
}

.navbar-nav {
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding-block: 0.5rem;
  justify-content: end;
  z-index: 3;
}
.navbar-brand{
  margin-right: auto;
  color: rgb(255, 255, 255) !important;
  margin-left: 8rem;
  font-size: x-large;
}

.navbar-brand:hover {
  color: #dabeff !important;
}

.navlink-style {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: rgb(255, 255, 255) !important;
    text-transform: uppercase;
    margin-inline: 0.6rem;

}
.navlink-style:hover {
  color: #bee7ff !important;
}