p {
  font-family: 'Garamond', 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 10px;
  font-weight: lighter;
}

.image {
  width: 500px;
  height: auto;
  border-radius: 100%;
  margin-bottom: 3rem;
}

.about-me-title {
  font-family: Garamond, 'Times New Roman', Times, serif;
  font-size: 1.7rem;
  text-align: left;
  margin-inline: 22%;
  font-weight: bolder;
}

.desc {
  margin-inline: 10%;
  text-align: left;
  flex-wrap: nowrap;
  position: sticky;
}

.about-me {
  font-size: 1.1rem;
}

.header-container {
  display: flex; 
  justify-content: space-around;
  align-self: center;
  
}

.icon-top {
  font-size: xx-large;
}

.icon-left {
  font-size: 4rem;
  color: #f8f9fa;
}

.icon-right {
  font-size: 4rem; 
  margin-top: 10.5rem;
  color: #f8f9fa;
}