.header-container {
  display: flex; 
  justify-content: space-around;
  align-self: center;
  align-items: center;
}

.centered {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  flex-direction: column;
  height: 80vh;
}

.icon-left {
  font-size: 4rem;
  color: #f8f9fa;
}

.icon-right {
  font-size: 4rem; 
  margin-top: 10.5rem;
  color: #f8f9fa;
}

.footer-h6 {
  color: rgb(0, 0, 0);
  font-size: small;
  justify-content: center;
  font-weight: lighter;
}