.title-button-container {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  flex-direction: column;
  height: 83vh;
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  justify-content: center;
  width: 100%
}

.icon-left {
  font-size: 4rem;
  color: #f8f9fa;
}

.icon-right {
  font-size: 4rem;
  margin-top: 6.5rem;
  color: #f8f9fa;
}

.toastContainer {
  margin-right: 30px;
  margin-bottom: 30px;
}