:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgb(255, 255, 255);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */

  min-height: 100dvh;
  min-height: 100svh;
  min-width: 100dvw;
  min-width: 100svh;
}

h2 {
  line-height: 1;
  font-family: "Unbounded", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 5rem !important;
  font-style: normal;
  color: #bb8cc9;
}

h3 {
  font-size: 2rem;
  color: #866591;
  font-family: "Unbounded", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h4 {
  font-size: 1.25rem;
  font-family: "Josefin Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;

}

p {
  font-size: 1rem;
}

.btn {
  font-size: 1em !important;
  border: 3px solid transparent;
  padding-top: 12px;
  padding-bottom: 0px;
  transition: transform 0.5s;
}
.btn:hover {
  border: 3px solid transparent;
  transform: scale(1.02);

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #75b798;
  }

  button {
    background-color: #f9f9f9;
  }
}

.gradient-background {
  background: linear-gradient(45deg, #fcf5e0, #f8e1ff, #b7e8ff);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: fixed;
}