.navbar-nav {
    background-color: rgba(0, 0, 0, 0.945);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: end;
    z-index: 3;
    align-items: center;
    flex: wrap;
  }
  .navbar-brand{
    margin-right: auto;
    margin-left: 8rem;
  }
  
  .C {
    color: #ffffff !important;
    font-family: "Unbounded", system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;
  }
  .C:hover {
    color: #ffbef1 !important;
  }
  
  .navlink-style {
      font-size: 1rem;
      letter-spacing: 2px;
      color: rgb(255, 255, 255) !important;
      font-family: "Josefin Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
      /* text-transform: uppercase; */
      margin-inline: 0.6rem;
      font-weight: 400;
  }
  .navlink-style:hover {
    color: #ffbef1 !important;
  }